.details {
  display: flex;
  justify-content: center;
  &-item {
    display: flex;
    box-sizing: border-box;
    &-image {
      height: 150px;
      margin: 0px auto 20px auto;
    }
    &-info {
    }
    img {
      border-radius: 10px;
      height: 100%;
      display: block;
      margin-right: 15px;
    }
  }
}
